<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body>
  <div id="app">
    <h2>Get all</h2>
    <button id="getAllButton" v-on:click="getallrasps" 
    class="btn btn-primary">Get all</button>
    <br>
    <br>
    <br>
    <h2>List of data:</h2>
      <ul id="rasplist" v-if="rasps.length">
        <li v-for="rasp in raps">
          {{ rasps.machineId}}
        </li>
      </ul>
      <div v-else>No data</div>

    <br>
    <br>
    <br>
    <a href="test_file.zip" download>Her</a>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
